.create-form{
  margin-top: 100px;
  margin-left: 300px;
}

@media all and (max-width: 600px) {

  .create-form{
    margin-top: 100px;
    margin-left: 20px;
  }

  .submit-button{
    margin-left: 270px;
  }
}