.player-edit{

}


.player-detail-image{
  border: 10px white solid
}

.edit-form {
  margin-left: 400px;
  margin-top: 10px;
  
}

.input-image-link{
margin-left: 10px;

}

.input-name{
  margin-left: 10px;
  
}

.input-position{
  margin-left: 10px;
  
}
.input-jerseyNumber{
  margin-left: 10px;
  
}


@media all and (max-width: 600px) {

  .edit-form {
    margin-left: 220px;
    margin-top: 10px;
    
  }

  .save-button{
    margin-left: 120px;
  }

}