.player-detail-image{
  margin-left: 200px;
  margin-top: 50px;
  border: 10px white solid;
  width: 980px;
  height: 320px;
}

.button-container{
  margin-left: 1100px;
}

button {
  background-color: white;
  border-radius: 25px;
}

.edit-button {
  text-decoration: none;
}

@media all and (max-width: 600px) {

 

  .player-detail-image {
    width: 500px;
    height: 150px;
    border: solid white 6px;
    margin-left:40px;
  }

  .button-container{
    margin-left: 450px;
  }

}
