.player-image {
  width: 650px;
  height: 150px;
  border: solid white 6px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.players {
  width: 100%;
  margin-top: 100px;
  margin-left: 40px;
}

.logo {
  width: 200px;
  margin-left: 590px;
}