.player-image {
  width: 650px;
  height: 150px;
  border: solid white 6px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.players {
  width: 100%;
  margin-top: 100px;
  margin-left: 40px;
}

.logo {
  width: 200px;
  margin-left: 590px;
}

.add-button{
  margin-left: 690px;
  margin-top:20px;
  margin-bottom:20px;
}


@media all and (max-width: 400px) {

  .logo {
  width: 200px;
  margin-left: 110px;
  margin-bottom: 20px;
  }


  .player-image {
    width: 387px;
    height: 150px;
    border: solid navy 6px;
    margin-bottom: 10px;
    
    
  }

  .players {
   margin-top: 100px;
   margin-left: -10px;
   
  }

  .add-button{
    margin-left: 160px;
  }
  

}