@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');



.search-input{
  width: 700px;
  height: 50px;
  margin-top: 30px;
  margin-left: 350px;
  border: solid 3px navy;
  border-radius: 25px;
  outline: none;
  font-size:40px;
  font-family: 'Graduate', cursive;
}


.Search{
  font-size: 40px;
}

@media all and (max-width: 600px) {
  .search-input{
    width: 364px;
    height: 50px;
    margin: 0 auto;
   
    border: solid 3px navy;
    border-radius: 25px;
    outline: none;
    font-size:40px;
    font-family: 'Graduate', cursive;
  }


}